:root {
  font-size: 62.5%;
  --text-size: clamp(1.4rem, 1.6vw, 1.6rem);
  --h3-size: var(--text-size);
  --h2-size: calc(var(--text-size) * 2);
  --h1-size: calc(var(--text-size) * 3);
  --text-color: hsl(0, 0%, 0%);
  --heading-color: hsl(0, 0%, 0%);
  --primary-color: hsl(0, 0%, 100%);
  --secondary-color: hsl(0, 0%, 90%);
  --accent-color: hsl(0, 0%, 0%);
  --border-radius-size: 1.5rem;
  --normal-font-weight: 400;
  --bold-font-weight: 700;
  --navbar-height: 6.5rem;
  --base-size: clamp(1rem, 1.5vw, 1.5rem);
  --2x-base-size: calc(var(--base-size) * 2);
  --4x-base-size: calc(var(--base-size) * 4);
  --responsive-white-space: 5vw;
  --container-max-width: 98rem;
}

html {
  font-family: Montserrat;
}

body {
  background-color: var(--primary-color);
  color: black;
}

.container {
  background: inherit;
  max-width: var(--container-max-width);
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  margin-inline: auto;
}

section {
  padding-inline: var(--responsive-white-space);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Courier New", Courier, serif;
  font-weight: var(--bold-font-weight);
  color: var(--heading-color);
}

h1,
h2 {
  line-height: 1.1;
}

h3,
h4,
h5,
p,
a {
  line-height: 1.5;
}

h1 {
  font-size: var(--h1-size);
}

h2 {
  font-size: var(--h2-size);
}

h3 {
  font-size: var(--h3-size);
}

p,
a {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--text-color);
  font-size: var(--text-size);
  font-weight: var(--normal-font-weight);
  max-width: 70ch;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: black;
  color: white;
  height: var(--navbar-height);
  display: flex;
  justify-content: center;
  padding-inline: var(--responsive-white-space);
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header a {
  line-height: 0;
}

.nav__list {
  display: flex;
  list-style: none;
  padding: 0;
  gap: var(--2x-base-size);
}

.title {
  margin: 0;
  color: var(--primary-color);
  line-height: 0;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

modal {
  width: 35rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  position: relative;
  height: 100%;
  width: 450px;
  display: none;
  padding: 15px;
  background-color: white;
  box-shadow: 0 0 15px 1px #00000020;
}

.id {
  color: #555;
  font-size: var(--text-size);
  position: absolute;
  top: 1rem;
  right: 1rem;
}

button {
  background-color: black;
  color: white;
  padding: 1.5rem 3rem;
  cursor: pointer;
  font-size: var(--text-size);
  border: none;
  font-weight: var(--bold-font-weight);
  transition: 0.3s;
  border-radius: var(--border-radius-size);
}

#btnStart {
  background-color: var(--accent-color);
  color: var(--primary-color);
  cursor: pointer;
}

.hero {
  width: 100vw;
  height: 100svh;
  padding-top: var(--navbar-height);
}

.hero .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: var(--2x-base-size);
}

.hero__info {
  justify-self: start;
}

.hero__title {
  margin-bottom: var(--2x-base-size);
}

.hero__btn {
  margin-top: var(--2x-base-size);
}

.hero__image {
  justify-self: end;
  background: inherit;
}

.hero__image img {
  --_size: clamp(32rem, 38vw, 38rem);
  height: var(--_size);
  width: var(--_size);
  object-fit: cover;
}

@media (width < calc(768rem / 16)) {
  .hero .container {
    grid-template-columns: 1fr;
    align-content: center;
  }

  .hero__image {
    justify-self: center;
    order: 1;
  }

  .hero__image img {
    --_size: clamp(20rem, 25vw, 25rem);
  }

  .hero__info {
    order: 2;
  }
}
