html {
	font-family : Montserrat;
}
body {
	background-color : whitesmoke;
	color : black;
}
.header {
	background-color : black;
	color : white;
	display : flex;
	align-items : center;
	justify-content : space-between;
	padding : 10px;
	height : 60px;
	margin-bottom : 10px;
}
* {
	margin : 0;
	padding : 0;
}
.nav__list {
	display : flex;
	list-style : none;
	padding : 0;
	gap : 15px;
	padding-inline : 15px;
}
.h11 {
	margin : 0;
	font-weight : 800;
	margin-left : 30px;
}
main {
	display : flex;
	align-items : center;
	justify-content : center;
	flex-direction : column;
	min-height : 87vh;
}
a {
	text-decoration : none;
	color : #fff;
}
modal {
	width : 350px;
	display : flex;
	align-items : center;
	justify-content : center;
}
div {
	position : relative;
	height : 100%;
	width : 450px;
	display : none;
	padding : 15px;
	background-color : white;
	box-shadow : 0 0 15px 1px #00000020;
}
.id {
	color : #555;
	font-size : 12px;
	position : absolute;
	top : 10px;
	right : 10px;
}
h2 {
	padding-top : 10px;
	padding-bottom : 10px;
}
p {
	padding : 15px;
}
button {
	background-color : black;
	color : white;
	padding : 5px 10px;
	cursor : pointer;
	font-size : 15px;
}
#btnStart {
	background-color : black;
	color : white;
	padding : 10px;
	cursor : pointer;
	font-size : 17px;
	transition : 0.3s;
	font-size :;
}
