
html {
 	font-family : Montserrat ;
 }
body {
 	background-color : whitesmoke ;
 }
body {
 	color : black ;
 }
.header {
 	background-color : black ;
 }
.header {
 	color : white ;
 }
.header {
 	display : flex ;
 }
.header {
 	align-items : center ;
 }
.header {
 	justify-content : space-between ;
 }
.header {
 	padding : 10px ;
 }
.header {
 	height : 60px ;
 }
.header {
 	margin-bottom : 10px ;
 }
* {
 	margin : 0 ;
 }
* {
 	padding : 0 ;
 }
.nav__list {
 	display : flex ;
 }
.nav__list {
 	list-style : none ;
 }
.nav__list {
 	padding : 0 ;
 }
.nav__list {
 	gap : 15px ;
 }
.nav__list {
 	padding-inline : 15px ;
 }
.h11 {
 	margin : 0 ;
 }
.h11 {
 	font-weight : 800 ;
 }
.h11 {
 	margin-left : 30px ;
 }
main {
 	display : flex ;
 }
main {
 	align-items : center ;
 }
main {
 	justify-content : center ;
 }
main {
 	flex-direction : column ;
 }
main {
 	min-height : 87vh ;
 }
a {
 	text-decoration : none ;
 }
a {
 	color : #fff ;
 }
modal {
 	width : 350px ;
 }
modal {
 	display : flex ;
 }
modal {
 	align-items : center ;
 }
modal {
 	justify-content : center ;
 }
div {
 	position : relative ;
 }
div {
 	height : 100% ;
 }
div {
 	width : 450px ;
 }
div {
 	display : none ;
 }
div {
 	padding : 15px ;
 }
div {
 	background-color : white ;
 }
div {
 	box-shadow : 0 0 15px 1px #00000020 ;
 }
.id {
 	color : #555 ;
 }
.id {
 	font-size : 12px ;
 }
.id {
 	position : absolute ;
 }
.id {
 	top : 10px ;
 }
.id {
 	right : 10px ;
 }
h2 {
 	padding-top : 10px ;
 }
h2 {
 	padding-bottom : 10px ;
 }
p {
 	padding : 15px ;
 }
button {
 	background-color : black ;
 }
button {
 	color : white ;
 }
button {
 	padding : 5px 10px ;
 }
button {
 	cursor : pointer ;
 }
button {
 	font-size : 15px ;
 }
#btnStart {
 	background-color : black ;
 }
#btnStart {
 	color : white ;
 }
#btnStart {
 	padding : 10px ;
 }
#btnStart {
 	cursor : pointer ;
 }
#btnStart {
 	font-size : 17px ;
 }
#btnStart {
 	transition : 0.3s ;
 }